/* TODO:
 * - Figure out how to actually do this
 */
html, 
body {
    height: 100%;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}
#react-entry-point,
#_dash-global-error-container,
#_dash-app-content {
    height: 100%;
    margin: 0;
}
.root {
    height:100%;
}
.flex-col-container {
    display: flex;
    flex-flow: column;
}
.flex-col-container .flex-col-top {
    flex: 0 0 auto;
}
.flex-col-container .flex-col-mid {
    flex: 1 1 auto;
}
.flex-col-container .flex-col-bot {
    flex: 0 0 1.5em;
}
.flex-row-container {
    display: flex;
    flex-flow: row;
}
.flex-row-container .flex-row-element {
    flex: 1 1 50px;
}
.three-elem-input div.dash-dropdown {
    /* Workaround because dash doesn't let us set the class of this element */
    width: 33.33%;
    width: calc(100%/3);
}
.two-elem-input div.dash-dropdown {
    /* Workaround because dash doesn't let us set the class of this element */
    width: 50%
}
div.dash-dropdown {
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
